h1 {
    font-size: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    color: lightskyblue;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #af2828;
}

h2 {
    color: rgb(160, 255, 250);
    margin: 20px 40px;
    font-size: 50px;
    font-weight: 700;
}

legend {
    color: rgb(136, 136, 172);
    /* text-align: center; */
    font-size: 30px;
    padding: 20px;
}

div {
    margin: 5px;
    font-size: 20px;
}

form#form {
    margin: 20px;
}

input#bot {
    margin-top: 20px;
    margin-left: 125px;
}

label {
    color: rgb(136, 136, 172);
}